{% extends 'index.html' %}
{% block title %}车队{% endblock %}
{% block css %}
    <style>
    .img-circle{
        height: 50%;
        width: 50%;
    }
    </style>
{% endblock %}
{% block content %}
<div class="container">
{% for member in memberslist %}
<div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">{{ member.name }}</span></h2>
          <p class="lead">{{ member.detail }}</p>
        </div>
        <div class="col-md-5">
          <img src="{{ MEDIA_URL }}{{ member.image }}" alt="{{ member.name }}" class="img-circle">
        </div>
      </div>

      <hr class="featurette-divider">
{% endfor %}
</div><!--content-->
{% endblock %}