{% extends 'index.html' %}
{% block title %}车队{% endblock %}
{% block css %}
    <style>
    #team_all{
        margin: 0;
        padding: 0;
        margin-top: 20px;
    }
    #team_left {
        width: 20%;
        height: auto;
        float: left;

    }
    #team_right{
        width: 80%;
        height: auto;
        float: right;
    }
    #team_right img{
        width: 100%;
        height: 100%;
    }
    #team_right p{
        margin-top: 50px;
        text-indent: 5em;
        text-align: left;
        font-family: '宋体' ;
        font-size: x-large;
        white-space: pre-wrap;

    }
    </style>
{% endblock %}
{% block content %}
    <hr class="featurette-divider">
<div class="container" id="team_all">


    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="team_left">
        <div class="list-group">
        {% for teams in teamslist %}
        <a href="{% url 'teams' teams.id %}" class="list-group-item">{{ teams.team_name }}</a>
        {% endfor %}
        </div>
    </div><!--/.sidebar-offcanvas-->

    <div class="row" id="team_right">
        <div class="team_bg">
          <img src="{{ MEDIA_URL }}{{ teamsdesc.image }}">
        </div>
        <div>
        <p>{{ teamsdesc.detail }}</p>
        <a href="{% url 'member_list' team.id %}" class="btn btn-primary btn-lg active" role="button">队员详情</a>
        </div>
    </div><!--/row-->
</div><!--content-->
{% endblock %}